<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="Jeffrey Boehm, https://uh.cx/">
    <title>{% block title %}{% endblock %} - {{ context_site_title() }}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        <link href="{{ asset('css/frontend.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% block tracking_head_end %}
        {% include "_includes/ga.html.twig" %}
        {% include "_includes/cookie.html.twig" %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="muted">
                    {{ context_site_title() }}
                    {% if context_test_mode() %}
                        <span class="label label-danger">Test</span>
                    {% endif %}
                </h3>
            </div>

            <div class="col-md-8">
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li class="first last">
                            {% block menu_bookmarklet %}
                                {% include '_includes/menu/bookmarklet.html.twig' %}
                            {% endblock %}
                        </li>
                    </ul>

                    <ul class="nav navbar-nav" role="menu">
                        {% block menu_header %}
                            {% include '_includes/menu/header.html.twig' %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        {% block before_content %}{% endblock %}

        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>

        <hr>

        <div class="footer">
            <div class="pull-left">
                <p>
                    {% include '_includes/copy.html.twig' %}
                </p>
            </div>

            <div class="pull-right">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" type="button"
                       id="developers" data-toggle="dropdown" aria-expanded="true">
                        Developers
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        {% block menu_footer %}
                            {% include '_includes/menu/footer.html.twig' %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/frontend.min.js') }}"></script>
{% endblock %}
{% block tracking_body_end %}{% endblock %}
</body>
</html>
